html, body, #root, .app {
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  /* height: fit-content; */
}
.app{
  display: flex;
  position: relative;
  height: fit-content;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: #888888;
}
::-webkit-scrollbar-track:hover{
  background: #555;
}
.MuiListItem-root{
margin-bottom: 20px;
}
.css-1gens70-MuiDataGrid-root .MuiDataGrid-cellContent {
  
  text-wrap: wrap;
}
.row-style {
  border-bottom: solid rgb(226, 223, 223) 0.5px;
}
tr, th, td{
  padding: 40px;
}

.table_container{
  width: 30%;
  border: 1px, solid, white;
  
  
}
.store_table{
  width: 100%; 
  color:black;
  background-color: white;
  border-collapse: collapse;
  border-radius: 7px;
}
.editStore{
  margin: 80px;
}
.css-wnx1cx-MuiButtonBase-root-MuiButton-root{
  padding: 16px, 50px;
}